.global
{
    highlight-alphas:        .5, .25;
    border-color:            #939A9D;
    header-colors:           #456F84, #9ABBC9;
    theme-color:             #252627;
    roll-over-color:         #D6E6EE;
    selection-color:         #B8D5E4;
}

Application
{
  background-gradient-colors: #383838, #474747;
}

.error
{
  font-weight:         "bold";
  font-size:           11;
  color:        #990000;
}


.loginPanel
{
  padding-top: 10;
  padding-bottom: 10;
  padding-left: 10;
  padding-right: 10;
}